body {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
  
  .btn {
    padding: 5px 20px;
    background: #bb2828;
    border-radius: 20px;
    border: none;
}
.results {
    color: #bb2828;
  }

.game {
    width: 600px;
    height: 200px;
    border: 1px solid #bb2828;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

#person {
    width: 50px;
    height: 50px;
    background-image: url(assets/personagem.png);
    background-size: 50px 50px;
    position: relative;
    top: 150px;
}

.jump {
    animation: jump 0.3s linear;
}

@keyframes jump {
    0% {
        top: 150px;
    }
    30% {
        top: 100px;
    }
    50% {
        top: 70px;
    }
    70% {
        top: 100px;
    }
    100% {
        top: 150px;
    }
}

#fantasma {
    width: 40px;
    height: 40px;
    position: relative;
    top: 160px;
    left: 520px;

    background-image: url(assets/fantasma.png);
    background-size: 40px 40px;
    display: flex;
    flex-wrap: wrap;

    animation: block 2s infinite linear;
}

@keyframes block{
    0% {
        left: 510px;
    }
    100% {
        left: -60px;
    }
}